@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Vault is a sneaker reseller website. From the rarest exclusive to your everyday sneaker. The vault is committed to being the most accurate sneaker database to help our users find the perfect pair. 
    Carrying every brand name on the market, The Vault has evolved from a one-stop sneaker destination, to a cultural hub for sneaker enthusiasts and novices alike..</p>
