@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  1234 Water Ave<br />
    Milwaukee, WI <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>For information regarding consignment, please email us: <a href="mailto:thevault.krj@gmail.com?Subject=Hello%20again" target="_top">Send Mail</a></strong>
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@

    <strong>Want to message us? Please click contact us to send a message.</strong>
        

        <div class="form-actions no-color">
        @*<input type="submit" value="Delete" class="btn btn-default" /> |*@
        @Html.ActionLink("Message Us", "Index","Messages")
    </div>
</address>