

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>The Vault </h1>
        <p class="lead">The Vault is a buy and sell website for sneakers. From the rarest exclusive to your everyday sneaker. The vault is committed to being the most accurate sneaker database to help our users find the perfect pair. </p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>


   
   @*<h2>New Releases</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="foamposite_ChineseNewYear.jpg" alt="shoes hanging" width="225" height="250">
            <p>Foamposite Chinese New Years</p>
            </div>
        <div class="col-md-4">
            <img src="Retro_3_OG_BlackCement.jpg" alt="shoes modeled on floor" width="225" height="250">
            <p>Jordan Retro 3 OG</p>
        </div>
        <div class="col-md-4">
            <img src="YeezyBoost_350_MoonRock.jpg" alt="walking down stairs" width="225" height="250">
            <p>Adidas Yeezy 350 Moon Rock</p>
        </div>
    </div>*@

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h2>The Vault Weekly Release Calendar</h2>

    <table>
        <tr>
            <th>Sneakers</th>
            <th>Date</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>
                Reebok Question Mint Glow <img src="/Content/Reebok_Question_Mint_Glow.jpg" width="225" height="250"></td>
            <td>March 27, 2018</td>
            <td>$190</td>
        </tr>
        <tr>
            <td>
                Jordan Retro 10 I'm Back <img src="/Content/Retro_10_Im_Back.jpg" width="225" height="250"></td>
            <td>March 29, 2018</td>
            <td>$85</td>
        </tr>
        <tr>
            <td>
                Jordan Retro 3 Tinker  <img src="/Content/Retro_3_Tinker.jpg" width="225" height="250"></td>
            <td>March 29,2018</td>
            <td>$220</td>
        </tr>
        <tr>
            <td>
                Jordan Retro 1 Game Royal  <img src="/Content/Retro_1_Game_Royal.jpg" width="225" height="250"></td>
            <td>March 30,2018</td>
            <td>$190</td>
        </tr>
    </table>

</body>
</html>
